@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 20px;
}

.table {
    background-color: #000;
    color: #fff;
}

input, select{
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        /* padding: 20px; */
    }
}
